.footer {
  padding: 60px 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  background-color: var(--color-footer);
}

.footer .container {
  display: flex;
  align-items: baseline;
}

.address-wrapper {
  margin-right: 70px;
}

.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
  color: var(--color-white);
}

.footer__logo--span {
  display: inline-block;
  color: var(--color-accent);
}

.footer-adress {
  display: block;
  font-style: normal;
}

.footer-adress__post {
  margin-bottom: 9px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-white);
}

.footer-contacts__link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-alpha);
  transition: color var(--transition-time) var(--cubic-function);
}

.footer-adress__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-contacts__link:hover,
.footer-contacts__link:focus {
  color: var(--color-accent);
}

/* ПРИСОЕДИНЯЙТЕСЬ */

.socials {
  margin-right: auto;
}

.socials__text {
  display: block;
  color: var(--color-white);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.socials__list {
  display: flex;
}

.socials__item + .socials__item {
  margin-left: 10px;
}

.socials__link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: var(--color-white);
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color var(--transition-time) var(--cubic-function);
}

.socials__link:hover,
.socials__link:focus {
  background-color: var(--color-accent);
}

.socials__link:hover .socials__icon,
.socials__link:focus .socials__icon {
  fill: var(--color-white);
}

.socials__icon {
  width: 20px;
  height: 20px;
  fill: var(--color-white);
}

/* ПОДПИШИТЕСЬ НА РАССЫЛКУ */

.subscribe__form {
  display: flex;
  align-items: flex-end;
}

.subscribe label {
  width: 358px;
  margin-right: 12px;
}

.subscribe__title {
  display: block;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer .subscribe__input {
  color: var(--color-white);
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background-color: #2f303a;
}

.subscribe__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.67;
  letter-spacing: 0.06em;
  color: var(--color-white);
  background-color: #2196f3;
  box-shadow: var(--box-shadow);
}

.subscribe__icon {
  margin-left: 10px;
}