body {
  font-family: 'Roboto', sans-serif;
  color: var(--color-white);
  background-color: var(--color-white);
}

/* Доп. класс для снятия дефолтных подчеркиваний со ссылок */
.link {
  text-decoration: none
}

/* Доп. класс для удаления точек, марджинов и паддингов у элементов списка */
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* Сброс марджинов для абзацев и заголовков */
p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  padding: 0;
  cursor: pointer;
}

/* __________2-я страница__________ */

/* ----------Портфолио---------- */

.portfolio {
  padding: 94px 0;
}

.portfolio__nav {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio__nav-item + .portfolio__nav-item {
  margin-left: 10px;
}

.portfolio__button {
  font-family: Inherit;
  font-weight: 500;
  font-size: 16px;  
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: var(--color-header);
  background-color: var(--color-team);
  text-align: center;
  border: 0;
  border-radius: 4px;
  padding: 6px 22px;
  transition: color var(--transition-time) var(--cubic-function),
    box-shadow var(--transition-time) var(--cubic-function),
    background-color var(--transition-time) var(--cubic-function);
}

/* Подсветка первой кнопки */
.first {
  box-shadow: var(--shadows);
  color: var(--color-white);
  background-color: var(--color-accent);
}

.portfolio__button:hover,
.portfolio__button:focus {
  box-shadow: var(--shadows);
  background-color: var(--color-accent);
  color: var(--color-white);
}