.clients {
  padding-top: 94px;
  padding-bottom: 94px;
  text-align: center;
}

.clients__title {
  margin-bottom: 50px;
  font-family: "Roboto";
  font-style: normal;
  color: var(--color-header);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.clients__list {
  display: flex;
}

.clients__item + .clients__item {
  margin-left: 30px;
}

.clients__link {
  width: 170px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color-icon) ;
  border-radius: 4px;
  color: var(--color-icon);
  outline: transparent;
  transition: color var(--transition-time) var(--cubic-function),
    border-color var(--transition-time) var(--cubic-function);
}

.clients__icon {
  display: flex;
  fill: currentColor;
}

.clients__link:hover,
.clients__link:focus {
color: var(--color-accent);
border-color: var(--color-accent);
}

.clients__link:hover .clients__icon,
.clients__link:focus .clients__icon {
  fill: var(--color-accent);
}