body {
  font-family: 'Roboto', sans-serif;
  color: var(--color-white);
  background-color: var(--color-white);
}

/* Доп. класс для снятия дефолтных подчеркиваний со ссылок */
.link {
  text-decoration: none
}

/* Доп. класс для удаления точек, марджинов и паддингов у элементов списка */
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* Сброс марджинов для абзацев и заголовков */
p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  padding: 0;
  cursor: pointer;
}

/* ----------НАШИ ПРИИМЦЩЕСТВА---------- */

/* Скрытый заголовок */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.benefits {
  background-color: var(--color-white);
  padding-top: 94px;
  padding-bottom: 94px;
}

.benefits__list {
  display: flex;
  justify-content: space-between;
}

.benefits__item {
  flex-basis: calc((100% - 3 * 30px) / 4);
}

.benefits__content {
  display: flex;
  width: 270px;
  height: 120px;
  justify-content: center;
  align-items: center;
  background-color: var(--color-team);
  border-radius: 4px;
  margin-bottom: 30px;
}

.benefits__item + .benefits__item {
  margin-left: 30px;
}

.benefits__title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-header);
}

.benefits__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-gray);
}

.benefits__icon {
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}