:root {
  --color-header: #212121;
  --color-accent: #2196f3;
  --color-hover: #188ce8;
  --color-black: #000000;
  --color-gray: #757575;
  --color-white: #ffffff;
  --color-team: #f5f4fa;
  --color-footer: #2f303a;
  --color-alpha: rgba(255, 255, 255, 0.6);
  --color-icon: #afb1B8;
  --shadows: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  --transition-time: 250ms;
  --cubic-function: cubic-bezier(0.4, 0, 0.2, 1);
  --modal-border-color: rgba(33, 33, 33, 0.2);
  --modal-placeholder-color: rgba(117, 117, 117, 0.5);
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--color-white);
  background-color: var(--color-white);
}

/* Доп. класс для снятия дефолтных подчеркиваний со ссылок */
.link {
  text-decoration: none
}

/* Доп. класс для удаления точек, марджинов и паддингов у элементов списка */
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* Сброс марджинов для абзацев и заголовков */
p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  padding: 0;
  cursor: pointer;
}

/* ----------НАША КОМАНДА---------- */

.team {
  background-color: var(--color-team);
  padding-top: 94px;
  padding-bottom: 94px; 
  }

.team__title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-header);
}

.team__list {
  display: flex;
}

.team__item {
  min-width: 270px;
  box-shadow: var(--shadows);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--color-white);
}

.team__item + .team__item {
  margin-left: 30px;
}

.team__content {
  padding-bottom: 30px;
  padding-top: 30px;
}

.team__teammate {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-header);
}

.masters__soc-item:first-child {
  margin-left: 0;
}

.team__position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
  color: var(--color-gray);   
}

.masters__soc-list {
  display: flex;
  justify-content: center;
}

.masters__soc-item {
  width: 44px;
  height: 44px;
  margin-left: 10px;
}

.masters__soc-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.team .masters__soc-link{
  color: #afb1b8;
  transition: color var(--transition-time) var(--cubic-function),
  background-color var(--transition-time) var(--cubic-function);
}

.master__soc-icon {
  fill: currentColor
}

.team .masters__soc-link:hover,
.team .masters__soc-link:focus {
  color: var(--color-white);
  background-color: var(--color-accent);
}